@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Föreningar</h2>
        <p>
            Här är listan på de föreningar du är medlem i.
        </p>
        <p>
            <ul>
                <li>Förening A</li>
                <li>Förening B</li>
                <li>Förening C</li>
            </ul>
        </p>
        <p>
            @Html.ActionLink(HttpUtility.HtmlDecode("Skapa förening &raquo;"), "Forening", "Create", routeValues: null, htmlAttributes: new { title = "Skapa förening", @class = "btn btn-default" })
        @*<a class="btn btn-default" href="~/Forening/Create">Skapa förening &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Meddelanden</h2>
        <p>Här kanske man kan samla de senaste händelserna för dina föreningar.</p>
        <ul>
            <li>Betalning</li>
            <li>Ny medlem</li>
            <li>Betalning</li>
            <li>Ny medlem</li>
            <li>Betalning</li>
            <li>Ny medlem</li>
            <li>Betalning</li>
        </ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Se hela listan &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>